<form [formGroup]="journalForm">
  <table>
    <tr>
      <th rowspan="2">ФИО обучающегося</th>
      <th [attr.colSpan]="lessonNumbers.controls.length">Оценки</th>
      <th rowspan="2">Cредний балл округление до 2-го разряда</th>
      <th rowspan="2">Cредний балл округление до 1-го разряда</th>
      <th rowspan="2">Округлённый средний балл до целого</th>
    </tr>
    <tr>
      <th *ngFor="let lessonTheme of lessonThemes.controls; let i = index">
        {{ lessonDates.controls[i].value | date: "dd.MM.yyyy" }}
        {{ lessonTheme.value }}
      </th>
    </tr>
    <tr *ngFor="let fio of fios.controls; let i = index">
      <td>
        {{ fio.value }}
      </td>
      <td
        *ngFor="let rating of ratings.controls[i].value.ratings; let j = index"
      >
        <select
          #changedValue
          value="{{ rating.rating }}"
          (change)="changeRating(i, j, changedValue.value)"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </td>
      <td>
        {{ avgRounds.value[i] | number: "1.2" }}
      </td>
      <td>
        <span
          class="ng-invalid"
          *ngIf="avgRoundToTenths.controls[i].getError('min')"
        >
          {{ avgRoundToTenths.value[i] | number: "1.1" }}
        </span>
        <span *ngIf="!avgRoundToTenths.controls[i].getError('min')">
          {{ avgRoundToTenths.value[i] | number: "1.1" }}
        </span>
      </td>
      <td>
        {{ avgRoundInts.value[i] | number: "1.0" }}
      </td>
    </tr>
  </table>
  <p> {{fios.value|familyNames}} </p>
</form>
